.overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(244, 244, 244, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #86BC25; /* Deloitte green */
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}